<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         id="WebApp_ID"
         version="6.0">
    <distributable />

    <login-config>
        <auth-method>OIDC</auth-method>
    </login-config>

    <context-param>
        <param-name>resteasy.server.tracing.type</param-name>
        <param-value>ALL</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.server.tracing.threshold</param-name>
        <param-value>SUMMARY</param-value>
    </context-param>
</web-app>